PyQt6
#intervalTree # Removed
Regex
requests
pywin32
#nuitka
pefile
#pyinstaller # likely want to build your own to prevent false positives from AV
#leveldb # Has own command in the .bat
plyvel
psutil
json5